@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.app-container {
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  background-color: #f5f4f4;
}
.search-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.search-input-wrapper input {
  width: 100%;
  height: 42px;
  font-size: 16px;
  background: #fcfcfc;
  border: 1px solid #aaa;
}
.search-input-wrapper input { text-indent: 12px;}
.search-input-wrapper .fa-search {
  position: absolute;
  top: 15px;
  right: 10px;
}
.search-results {
  margin-top: 20px;
  font-size: 11pt;
  opacity: 0.6;
}
.results-not-found {
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid;
  text-align: center;
  width: 75%;
  opacity: 0.6;
}
.header {
  height: 60px;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 20%;
  padding-right: 20%;
  line-height: 60px;
  border: 1px solid;
  border-top-color: #ccc5c5;
}
.header .header-close-btn {
  background-color: #fcfcfc;
  color: #888181;
  float: right;
  margin-top: 20px;
  height: 30px;
  width: 30px;
  font-size: 12pt;
}
.content {
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  height: 100%;
  min-height: 850px;
}
.footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #4a4545;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}
